[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
chembl-webresource-client = "*"
jupyter = "*"
quarto = "*"
ipykernel = "*"
pandas = "*"
rdkit = "*"
pytest = "*"
flake8 = "*"
black = "*"
pre-commit = "*"
mypy = "*"
pydocstyle = "*"
sphinx = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
statsmodels = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.11"
